* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    width: 100%;
}

.link-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #E5E2EE;
    margin-bottom: 27px;
    cursor: pointer;
}

.frame {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    display: flex;
    align-items: center;
    gap: 45px;
}

.frame h6 {
    color: var(--unnamed, #7A7687);
    /* 1440/t2 */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 0 10px 0
}

.link h6 {
    color: var(--unnamed, #7A7687);
    /* 1440/t2 */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 10px 0 10px 0
}

.search {
    display: flex;
    align-items: center;
    padding: 26px 0;
    margin-bottom: 49px;
    cursor: pointer;
}

.block-logo {
    width: 96px;
    height: 41px;
    flex-shrink: 0;
    margin-right: 51px;
}

.block-text {
    display: flex;
    align-items: center;
    width: 614px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--unnamed, #D5D1E1);
    /* justify-content: space-between; */
}

.block-text .tecst {
    display: flex;
    align-items: center;
    width: 565px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--unnamed, #F8F7F3);
    gap: 15px;
}

.tecst .solid {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #EFEFEF;
    padding: 10px 15px;
    margin-left: 1px;
}

.solid h4 {
    color: var(--unnamed, #7A7687);
    /* 1440/l1 */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 3px;
}

.box input {
    color: var(--unnamed, #7A7687);
    /* 1440/l1 */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    background: var(--unnamed, #F8F7F3);
}

.block-text .user-img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    padding: 6px 14px 9px 10px;
}

.block {
    color: var(--unnamed, #7A7687);
    /* 1440/t2 */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 120px;
    margin-left: 35px;
    margin-right: 114px;
    cursor: pointer;
}

.block-icon {
    width: 281px;
    display: inline-flex;
    align-items: flex-end;
    gap: 25px;
}

.item-light {
    width: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.item-heart {
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.item-chart {
    width: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.item-cart {
    width: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.chart h4 {
    color: var(--unnamed, #7A7687);
    /* 1440/t2 */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 52px;
}

.font {
    display: flex;
    align-items: center;
    gap: 25px;
}

.font h4 {
    color: var(--unnamed, #202020);
    /* 1440/l1 */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logika h4 {
    color: var(--unnamed, #202020);
    /* 1440/l1 */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logika {
    display: flex;
    align-items: center;

}

.logika h4 {
    color: var(--unnamed, #202020);
    /* 1440/l1 */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.logika h5 {
    color: var(--unnamed, #202020);
    /* 1440/l1 */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 11px 20px;
    gap: 8px;
    background: var(--unnamed, #E5E2EE);
    border-radius: 50px;
    border: 1px solid var(--unnamed, #D5D1E1);
    cursor: pointer;
    margin-left: 33px;
    margin-right: 10px;
}

.logika h3 {
    color: var(--unnamed, #F8F7F3);
    /* 1440/l1 */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 11px 30px;
    gap: 10px;
    border-radius: 50px;
    background: var(--unnamed, #088269);
    cursor: pointer;
}

.hero-container {
    width: 1310px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}

.info h1 {
    color: var(--unnamed, #202020);
    /* 1440/H1 */
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    /* 52.8px */
    width: 538px;
    margin-bottom: 25px;
}

.info p {
    color: var(--unnamed, #7A7687);
    /* 1440/t1 */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
    width: 379px;
    margin-bottom: 65px;
}

.info .buttonn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.buttonn .space {
    color: var(--unnamed, #F8F7F3);

    /* 1440/l1 */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 11px 30px;
    gap: 10px;
    border-radius: 50px;
    background: var(--unnamed, #088269);
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.buttonn .space:hover {
    background-color: #8d87bc;
}

.buttonn button {
    color: var(--unnamed, #088269);
    /* 1440/l1 */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 11px 30px;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid var(--unnamed, #D5D1E1);
    cursor: pointer;
    transition: all 0.5s;
}

.buttonn button:hover {
    background-color: #918cb8;
}

.widget-container {
    width: 1310px;
    height: 699px;
    flex-shrink: 0;
    background: var(--unnamed, #F8F7F3);
    margin-bottom: 150px;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.quote h2 {
    color: var(--unnamed, #202020);
    /* 1440/H2 */
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 36px */
}

.quote ul {
    color: var(--unnamed, #F8F7F3);
    /* 1440/l1 */
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 11px 30px;
    gap: 10px;
    border-radius: 50px;
    background: var(--unnamed, #088269);
    cursor: pointer;
    list-style: none;
}

.slogan {
    display: flex;
    justify-content: space-between;
}

.widget__text {
    width: 320px;
    height: 618px;
    flex-shrink: 0;
}

.slogan__copy {
    width: 320px;
    height: 304px;
    flex-shrink: 0;
}

.slogan__copy .user {
    width: 320px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--unnamed, #E5E2EE);
    background: var(--unnamed, #FFF);
}

.user img {
    padding: 15px 56px;
}

.user-link {
    width: 248px;
    height: 44px;
    padding: 20px 47px 20px 25px;
}

.user-link p {
    color: var(--unnamed, #202020);
    /* 1440/t1 */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
}

.slogan-img {
    width: 320px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--unnamed, #E5E2EE);
    background: var(--unnamed, #FFF);
}

.slogan-img img {
    padding: 22px 82px;
}

.slogan-link {
    padding: 31px 47px 31px 25px;
    /* width: 248px;
height: 22px; */
}

.slogan-link p {
    color: var(--unnamed, #202020);
    /* 1440/t1 */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
}

.slogan__link {
    width: 320px;
    height: 304px;
    flex-shrink: 0;
}

.phone__copy {
    width: 320px;
    height: 534px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--unnamed, #E5E2EE);
    background: var(--unnamed, #FFF);
}

.phone__copy img {
    padding: 0 92px 46px 54px;
}

.phone__copy p {
    color: var(--unnamed, #202020);
    /* 1440/t1 */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
    padding: 20px 47px 20px 25px;
}

.phone__link {
    padding: 20px 47px 20px 25px;
}

.tagline-copy {
    width: 320px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--unnamed, #E5E2EE);
    background: var(--unnamed, #FFF);
}

.tagline-copy img {
    padding: 19px 74px 0 76px;
}


.tagline-link p {
    color: var(--unnamed, #202020);
    /* 1440/t1 */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
    padding: 20px 138px 20px 26px;
}

.tagline {
    margin-bottom: 10px;
}

.widget-link {
    width: 320px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--unnamed, #E5E2EE);
    background: var(--unnamed, #FFF);
}

.widget-link img {
    padding: 23px 74px;
}

.widget-copy p {
    color: var(--unnamed, #202020);
    /* 1440/t1 */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
    padding: 20px 111px 20px 25px;
}

.quote-copy {
    width: 320px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--unnamed, #E5E2EE);
    background: var(--unnamed, #FFF);
}

.quote-copy img {
    padding: 24px 73px 24px 75px;
}

.quote-link p {
    color: var(--unnamed, #202020);

    /* 1440/t1 */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
    padding: 20px 110px 20px 26px;
}

.quote__link {
    margin-bottom: 10px;
}

.copy-link {
    width: 320px;
    height: 220px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--unnamed, #E5E2EE);
    background: var(--unnamed, #FFF);
}

.copy-link img {
    padding: 40px 48px;
}

.copy__link p {
    color: var(--unnamed, #202020);
    /* 1440/t1 */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
    padding: 20px 47px 20px 25px;
}

.aside-container {
    width: 1310px;
    height: 739px;
    margin-bottom: 150px;
}

.aside-container h2 {
    color: var(--unnamed, #202020);
    /* 1440/H2 */
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 36px */
    margin-bottom: 43px;
}

.aside__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.aside-block {
    border-radius: 10px;
    border: 1px solid var(--unnamed, #E5E2EE);
    margin-bottom: 43px;
}

.aside-block p {
    color: var(--unnamed, #202020);
    /* 1440/t1 */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
    padding: 20px 225px 20px 25px;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul .light {
    color: var(--unnamed, #088269);

    /* 1440/l1 */
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 11px 30px;
    border-radius: 50px;
    border: 1px solid var(--unnamed, #D5D1E1);
    list-style: none;
    cursor: pointer;
    transition: all 0.5s;
}

ul .aria {
    list-style: none;
    color: var(--unnamed, #F8F7F3);

    /* 1440/l1 */
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 11px 30px;
    border-radius: 50px;
    background: var(--unnamed, #088269);
    cursor: pointer;
    transition: all 0.5s;
}

ul .light:hover {
    background-color: #8d87bc;
}

ul .aria:hover {
    background-color: #8d87bc;
}

.inner .inner-img {
    cursor: pointer;
}

.hint-container {
    display: flex;
    width: 1310px;
    height: 396px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.hint-container p {
    color: var(--unnamed, #202020);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.hint-container .symbol {

    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 150px;
}

.symbol .symbol__item {
    width: 320px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--unnamed, #E5E2EE);
}

.symbol__item img {
    width: 65px;
    height: 73px;
    margin: 90px 128px 31px 127px;
}

.symbol__item p {
    padding: 0px 86px 82px 86px;
    color: var(--unnamed, #202020);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
}

.customers {
    margin: 0 auto;
    width: 1440px;
    /* height: 686px; */
    flex-shrink: 0;
    background: var(--unnamed, #E5E4ED);
    margin-bottom: 150px;
}

.customers__clients {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.customers__clients h4 {
    margin-top: 100px;
    color: var(--unnamed, #202020);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.customers__clients h2 {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 560px;
    height: 106px;
    color: var(--unnamed, #202020);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}

.customers__clients .customers__clients--green {
    color: var(--unnamed, #088269);
}

.clinic {
    display: inline-flex;
    align-items: flex-start;
    align-items: center;
    gap: 10px;
    overflow: scroll;
    cursor: pointer;
    margin-bottom: 120px;
}


.clinic-scroll {
    margin-left: -65px;
    width: 1440px;
}

.clinic .clinic__item {
    width: 320px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #E1DFE7;
}

.clinic--img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #E1DFE7;
    background: var(--unnamed, #FFF);
}

.clinic__item img {
    width: 196px;
    height: 80px;
    flex-shrink: 0;
    margin: 58px 55px 58px 69px;
}

.clinic__item .clinic--text {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #E1DFE7;
    background: var(--unnamed, #F8F7F3);
    height: 84px;
    padding: 20px 69px 20px 25px;
}

.brands-container {
    display: flex;
    /* background: var(--unnamed, #F8F7F3); */
}

.brand__text h3 {
    color: var(--unnamed, #202020);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 25px;
}

.brand__text p {
    width: 220px;
    color: var(--unnamed, #202020);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    opacity: 0.5;
}

.brand__info {
    gap: 40px;
    margin-left: 123px;
}

.brands__img {
    display: inline-flex;
    align-items: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}

.brand__item {
    width: 320px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--unnamed, #E5E2EE);
    background: var(--unnamed, #F8F7F3);
}

.brand__item--img {
    width: 319px;
    height: 196px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid var(--unnamed, #E5E2EE);
    background: var(--unnamed, #FFF);
}

.brand__item--img img {
    margin: 46px 61px 39px 62px;

}

.brand__item .img img {
    margin: 70px 61px 68px 62px;
}

.brand__item .brand__item--text {
    width: 320px;
    color: var(--unnamed, #202020);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.brand__item .brand__item--text p {
    margin: 20px 69px 20px 25px;
}

.brand__srcoll {
    width: 1030px;
    overflow: scroll;
}

.brand__button {
    display: flex;
    justify-content: space-between;
}

.brand__button--left--right {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.button__left {
    border-radius: 50%;
}

.button__left img {
    display: flex;
    width: 41px;
    height: 41px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--unnamed, rgba(230, 227, 237, 0.8));
    background: var(--unnamed, #F8F7F3);
}

.brand__button {
    margin-bottom: 150px;
}

.brand__button .button-text {
    color: var(--unnamed, #F8F7F3);

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    padding: 11px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--unnamed, #088269);
}

.brand__button .button-text:hover {
    background-color: #918cb8;
}




.section__container10 {
    width: 1310px;
    margin: 0 auto;
}

.map-block {
    margin: 0px 65px;
    width: 1310px;
    display: flex;
    padding-bottom: 150px;
    margin: 0px 65px;
}

.map-block img {
    width: 650px;
    margin-right: 10px;
}

.cont10 {
    width: 650px;
    height: 612px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid var(--unnamed, #e5e2ee);
    background: var(--unnamed, #fff);
    padding: 40px;
}

.cont10 h1 {
    color: var(--unnamed, #202020);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 36px */
    margin-bottom: 25px;
}

.cont10 h6 {
    width: 417px;
    color: var(--unnamed, #7a7687);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 22.4px */
    margin-bottom: 40px;
}

.input-cont10 {
    padding-bottom: 40px;
}

.input-cont10 input {
    width: 570px;
    height: 50px;
    border: 1px solid transparent;
    border-bottom-color: #7a7687;
}

.input-cont10 input::placeholder {
    color: var(--unnamed, #7a7687);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-cont10 .input4 {
    padding-bottom: 96px;
    padding-top: 25px;
}

.bottom-btn-info {
    display: flex;
    align-items: center;
}

.bottom-btn-info button {
    display: inline-flex;
    padding: 11px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: var(--unnamed, #088269);
    border: 1px solid #088269;
    color: var(--unnamed, #f8f7f3);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 30px;
    transition: all 0.5s;
}

.bottom-btn-info button:hover {
    border-color: #088269;
    cursor: pointer;
    background-color: transparent;
    color: #088269;
}

.bottom-btn-info p {
    width: 406px;
    color: var(--unnamed, #7a7687);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bottom-btn-info p span {
    color: var(--unnamed, #088269);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}